@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive" src="@Url.Content("~/Content/banner.jpg")" alt="Banner" />
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Điện máy Quyết Tiến</h2>
        <p><a class="btn btn-success" href="https://dienmayxanh.com">Mua  &raquo;</a></p>
    </div>
</div>